 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="header-text-all-recipes">
      <h1 class="display-4">All Our Recipes</h1>
    </div>
  </div>
</div>

<h4>Search by Category</h4>
    <%= form_tag(all_recipes_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search])%>
        <%= submit_tag("Search")%>
    <% end %>
<% if @no_matches %>
    <h5><%= @no_matches %></h5>
<% end %>
<% @recipes.each do |recipe| %>
    <ul class="recipe-list">
        <li><%= link_to recipe.name, recipe_path(recipe), class:"brand" %></li>
    </ul>
<% end %>