 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="header-text">
      <h1 class="display-4">The Experimental Chef</h1>
      <p class="lead">An App Made for Adventurous Foodies Who Love to Add<br> Their Own Twists to Recipes! </p>
    </div>
  </div>
</div>
<div class= "index">
 <% unless @rec_recipes == [] || @rec_recipes == nil %>
    <div class="categories"><h2><%= "Recommendations Based on Your Interest in #{current_user.most_frequent_tag} Recipes"%></h2></div>
    <div class="container">
    <div class="row">
    <% @rec_recipes.each do |recipe| %>

                <div class="col-sm"><%= image_tag(recipe.image_url, width: "200px")%><br>
                <%= link_to recipe.name, recipe_path(recipe), class:'brand' %></div>
        
    <% end %></div></div>
<% end %>

<% @all_types.each do |hash| %>
    <div class="categories"><h2>Featured <strong style="font-size: 33px;"><%= hash[:type_name] %></strong> Recipes</h2></div>
      <div class="container">
        <div class="row">
          <% hash[:type].each do |recipe| %>
                <div class="col-sm"><%= image_tag(recipe.image_url, width: "200px")%><br>
                <%= link_to recipe.name, recipe_path(recipe), class:'brand' %></div>
          <% end %>
      </div>
    </div>
<% end %>

</div>





