 <% unless @rec_recipes == [] || @rec_recipes == nil %>
    <h2><%= "Recommendations Based on Your Interest in #{current_user.most_frequent_tag} Recipes"%></h2>
    <% @rec_recipes.each do |recipe| %>
        <ul>
                <%= image_tag(recipe.image_url, size: "200x190")%>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        </ul>
    <% end %>
<% end %>


<% @all_types.each do |hash| %>
    <h2>Featured <%= hash[:type_name] %> Recipes</h2>

    <% hash[:type].each do |recipe| %>
        <ul>
                <%= image_tag(recipe.image_url, size: "200x190")%>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        </ul>
    <% end %>
<% end %>




