<h1>Create Your Own <%= @original_recipe.name %></h1>

<h2>
<%= form_for @recipe do |f|%><br>
<%= f.label :name%><br>
<%=f.text_field :name, value: @original_recipe.name %><br>
<%= f.label :description%><br>
<%=f.text_area :description, value: @original_recipe.description%><br>
<%= f.label :image_url%><br>
<%=f.text_field :image_url%><br>
<%= f.label :seving_size%><br>
<%=f.text_field :serving_size, value: @original_recipe.serving_size%><br>
<%= f.label :calorie_count%><br>
<%=f.text_field :calorie_count%><br>
<%= f.label :instructions%><br>
<%=f.text_area :instructions, value: @original_recipe.instructions%><br>
<%= f.label :chef_name, "Your Name"%><br>
<%=f.text_field :chef_name%><br><br>
<%= f.hidden_field :starter_recipe_id, :value => @original_recipe.id%>
<%= f.hidden_field :is_starter?, :value => false %>
<%=f.submit "Save Your Version of the Recipe"%><br></h2>
<%end%>
