<h1><%= @recipe.name %></h1>

<h4>Chef: <%= @recipe.chef_name %></h4>

<div>Serving Size: <%= @recipe.serving_size%><div><br>

<div><%= @recipe.description %></div><br>

<div><%= image_tag(@recipe.image_url) %></div><br>

<div>Calories Per Serving: <%= @recipe.calorie_count%></div>

    <h2>Instructions: </h2>
    <div>
        <% @steps.each do |sentence| %>
            <div><%= sentence%></div><br>
        <% end %>
    </div>

    <% if @recipe.is_starter? == true%>
        <h3>Save This Recipe to Your Cookbook!<h3>
        <h3><%= link_to "Create your own #{@recipe.name} Fusion Recipe!", new_recipe_path(@recipe) %></h3>
        <h3>Browse Our Users' Unique Twists on "<%= @recipe.name %>":</h3>
    <h2><%@recipe.modified_recipes.each do |modified_recipe|%></h2>
        <ul>
            <li><%=link_to modified_recipe.name, recipe_path(modified_recipe) %></li>
        </ul>
    <% end %>
    <% elsif @recipe.is_starter? == false %>
        <h3>Original Recipe:</h3>
        <%=link_to @recipe.starter_recipe.name, recipe_path(@recipe.starter_recipe)%>
    <% end %>

    







