<h1><%= @recipe.name %></h1>

<h4>Average Rating: <%= @recipe.average_rating%>/10</h4>


    <% if @recipe_cuisines.empty? == false %>
        <h3>Cuisine Type(s):</h3>
            <ul>
                <% @recipe_cuisines.each do |cuisine|%>
                    <li><%= "#{cuisine.name}"%></li>
                <% end %>
            </ul>
        <% end %>

        <% if @dietary_tags.empty? == false %>
        <h3>Dietary Type(s):</h3>
            <ul>
                <% @dietary_tags.each do |dietary|%>
                    <li><%= "#{dietary.name}"%></li>
                <% end %>
            </ul>
        <% end %>

    


<h4>Chef: <%= @recipe.chef_name%></h4>

<div>Serving Size: <%= @recipe.serving_size%><div><br>

<div><%= sanitize @recipe.description %></div><br>

<div><%= image_tag(@recipe.image_url) %></div><br>


<div>Calories Per Serving: <%= @recipe.calorie_count%></div>

<h2>Ingredients:</h2>

<div>
    <% @ingredients_lines.each do |line| %></div>
        <div><%= line %> <br>
    <% end %>

    <button>Add ingredients to my grocery list</button>
    
    <h2>Instructions: </h2>
    <div>
        <% @steps.each do |sentence| %>
            <div><%= sentence%></div><br>
        <% end %>
    </div>

    <% if @recipe.is_starter? == true%>
        <h3><%= link_to "Save This Recipe to Your Cookbook!", save_path(@recipe), method: :patch %><h3>
        <h3><%= link_to "Create your own #{@recipe.name} Fusion Recipe!", new_recipe_path(@recipe) %></h3>
        <h3>Browse Our Users' Unique Twists on "<%= @recipe.name %>":</h3>
    <h2><%@recipe.modified_recipes.each do |modified_recipe|%></h2>
        <ul>
            <li><%=link_to modified_recipe.name, recipe_path(modified_recipe) %></li>
        </ul>
    <% end %>
    <% elsif @recipe.is_starter? == false %>
        <h3>Original Recipe:</h3>
        <%=link_to @recipe.starter_recipe.name, recipe_path(@recipe.starter_recipe)%>
    <% end %>

    <%=link_to "Review this #{@recipe.name}!", new_user_recipe_path(@recipe) %>

    <% @recipe.reviews.each do |review|%>
    
         <div>Rating:<%=review.rating%></div>
        <div>Review:<%=review.review%></div>
    
        <%end%>







