<div class="jumbotron4 jumbotron-fluid">
  <div class="container">
    <div id="header-text-4">
      <h1 class="display-4">The Experimental Chef</h1>
    </div>
  </div>
</div>

<div class= "recipe">
    <div class="categories">
        <h1 class="recipe-name">
            <%= @recipe.name %>
        </h1>
        <div class="box">
            <%= image_tag(@recipe.image_url, style:"width:575px;") %>
        </div><br>
    </div>

    <div class= "box">
        <h4>Average Rating: <%= @recipe.average_rating%>/10</h4>
    </div>

    <div class= "box">
            <% if @recipe_cuisines.empty? == false %>
                <h3>Cuisine Type(s):</h3>
                    <ul>
                        <% @recipe_cuisines.each do |cuisine|%>
                            <li><%= "#{cuisine.name}"%></li>
                        <% end %>
                    </ul>
                <% end %>

                <% if @dietary_tags.empty? == false %>
                <h3>Dietary Type(s):</h3>
                    <ul>
                        <% @dietary_tags.each do |dietary|%>
                            <li><%= "#{dietary.name}"%></li>
                        <% end %>
                    </ul>
                <% end %>

            
        <div class="box">Chef: <%= @recipe.chef_name%></div>

        <div>Serving Size: <%= @recipe.serving_size%><div><br>

    </div>

    <div><%= sanitize @recipe.description %></div><br>




    <div>Calories Per Serving: <%= @recipe.calorie_count%></div>

    <div class= "box">
        <h2>Ingredients:</h2>
    </div>
        <div>

    <div class= "box">
        <% @ingredients_lines.each do |line| %>
            <%= line %> <br>
        <% end %>
    </div> 

    <% if logged_in? %>
    <div class= "box">
        <h3><%= button_to "Save These Ingredients to Your Grocery List!", grocery_path(@recipe), method: :patch %><h3>
    </div>
    <% end %>
    
    <div class= "box">
            <h2>Instructions: </h2>
            <div>
                <% @steps.each do |sentence| %>
                    <div><%= sentence%></div><br>
                <% end %>
            </div>
    </div>
    
    <% if logged_in? %>
        <% if @recipe.is_starter? == true%>
           
               
                Browse Our Users' Unique Twists on "<%= @recipe.name %>":
           
            <div class= "box">
                <%@recipe.modified_recipes.each do |modified_recipe|%>
                    <ul class = "recipe-list">
                        <li><%=link_to modified_recipe.name, recipe_path(modified_recipe), class:"brand" %></li>
                    </ul>
                <% end %>
            </div>

            <div class= "box">
                <%= button_to "Create your own #{@recipe.name} Fusion Recipe!", new_recipe_path(@recipe), method: :get %>
            </div>

        <% elsif @recipe.is_starter? == false %>
            <div class = "box">
                <h3>Original Recipe:</h3>
                <%=link_to @recipe.starter_recipe.name, recipe_path(@recipe.starter_recipe), class: "brand" %>
            <% end %>
        </div>
         <div class= "box">
                <h3><%= button_to "Save This Recipe to Your Cookbook!", save_path(@recipe), method: :patch %><h3>
        </div>
        <div class= "box">
                <%=button_to "Review this #{@recipe.name}!", new_user_recipe_path(@recipe), method: :get %>
        </div>

                <div class="reviews">
                    <% @recipe.reviews.each do |review|%>
                        <div>User Rating:<%=review.rating%></div>
                        <div>Review:<%=review.review%></div><br>
                  <%end%>
                </div>
    <% else %>
        <h2><%= link_to "Log in", login_path %> or <%= link_to "make an account", new_user_path %> to make your own recipes, save them to your cookbook, and write reviews!</h2>
    <% end %>

</div>







