<h1><%= @recipe.name %></h1>

<div>Serving Size: <%= @recipe.serving_size%><div><br>

<div><%= @recipe.description %></div><br>

<div><%= image_tag(@recipe.image_url) %></div><br>

<div>Calories Per Serving: <%= @recipe.calorie_count%></div>

<p> Instructions: <%= @recipe.instructions %></p>





