<h1> New User Signup </h1>

<div class= "error"><%=flash[:login_error]%></div>

<%=form_for @user do |f|%>
    <%=f.label :user_name%>
    <%=f.text_field :user_name%>
    <%=f.label :password%>
    <%=f.password_field :password%>
    <%=f.submit "Log In"%> 
<%end%>