 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="header-text-signup">
      <h1 class="display-4">Become an Experimental Chef Today!</h1>
    </div>
  </div>
</div>

<div class= "error"><% if @user.errors.any?%></div>
    <% @user.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>

<div class="user-form">
<%=form_for @user do |f|%>
  <div class="form-group row">
    <%=f.label :name, "Your Name", class:"col-sm-6 col-form-label" %>
        <div class="col-xs-4">
            <%=f.text_field :name, class:"form-control", placeholder:"Your Name"%>
        </div>
    </div>
  <div class="form-group row">
    <%=f.label :user_name, "Create Username", class:"col-sm-6 col-form-label"%>
        <div class="col-xs-4">
            <%=f.text_field :user_name, class:"form-control", placeholder:"Username"%>
        </div>
    </div>
<div class="form-group row ">
    <%=f.label :password, "Create Password", class:"col-sm-6 col-form-label"%>
        <div class="col-xs-4">
        <%=f.password_field :password, class:"form-control", placeholder:"Password"%>
        </div>
</div>
  <div class="form-group row">
    <div>
    <%=f.submit "Sign Up", class:"btn btn-primary"%> 
        </div>
  </div>
</form>
<%end%>
</div>