<h1><%= @user.name %>'s Cookbook </h1>

<h3>My New Recipe Creations<h3>
<ul>
    <% @user.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul>

        <%= form_tag unsave_path(@user.id), :method => :patch do %>
            <%=label_tag "saved_recipes", "Saved Recipes" %>
            <%=collection_check_boxes(:recipe, :recipe_ids, @user_saved_recipes, :id, :name) do |b|%>
                <ul class="recipe-list">
                    <li><%= b.label do  %>
                        <%= b.check_box %>
                        <%= link_to b.object.name, recipe_path(b.object.id)%>
                    <% end %></li>
                </ul>
            <% end %>

            <%=submit_tag "Delete Selected Recipes"%>
    <%end%>

<h3>My Grocery List<h3>


    <% @user_grocery_list.each do |recipe| %>
        <div><%= link_to recipe[:name], recipe_path(recipe[:id]) %>
            <ul>
                <% recipe[:ingredients].each do |line| %></li>
                        <input type="checkbox"><%= line %><br>
                <% end %> 
            </ul>
            <%= button_to "Remove Recipe from Grocery List", grocery_remove_path(recipe[:id]), method: :patch %><br>
        <% end %>
        </div>


