<div class = "header">
    <% unless params[:controller] == "sessions" && params[:action] == "login"%>
    <% if logged_in?%>
    Welcome, <%=current_user.user_name%>!
    <%=link_to "Home", recipes_path %>
    <%=link_to "All Recipes", all_recipes_path %>
    <%=link_to "My Cookbook", user_path(current_user)%>
    <%=link_to "Logout", logout_path, method: :delete%>
    <%else%>
    <%=link_to "Login", login_path%>
    <%end%>
<%end%>
</div>

