 <div>
    <% unless params[:controller] == "sessions" && params[:action] == "login"%>
    <% if logged_in?%>
   <div class="ui secondary pointing menu">
    Welcome to The Experimental Chef, <%=current_user.name%>!
     <div class="item"><%=link_to "Home", recipes_path %></div></div>
    <div class="item"><%=link_to "All Recipes", all_recipes_path %></div>
    <div class="item"><%=link_to "My Cookbook", user_path(current_user)%></div>
    <div class="item"><%=link_to "Logout", logout_path, method: :delete%></div></div>
    <%else%>
    <%=link_to "Login", login_path%>
    <%end%>
<%end%>
</div>

